@{
    ViewData["Title"] = "Create";

    @model Pizza
}

<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h1>Aggiungi Pizza</h1>
        </div>
        <div class="card-body">
            <form asp-controller="Pizza" asp-action="Create" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group mb-3">
                    <label for="Name">Nome*</label>
                    <input asp-for="Name" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label for="Price">Prezzo*</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">€</span>
                        <input asp-for="Price" type="text" class="form-control">
                        <span class="input-group-text">.00</span>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="Description">Descrizione*</label>
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                </div>

                <div class="form-group mb-3">
                    <label for="Picture" class="form-label">Immagine*</label>
                    <input asp-for="Picture" type="text" class="form-control">
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>

                <div>
                    <p>* Questi campi sono obbligatori</p>
                </div>

                <button type="submit" class="btn btn-outline-success">Aggiungi</button>
            </form>
        </div>
    </div>
</div>